body, html {
    height: 100%;
    width: 100%;
}
body {
    font-family: 'GOTHIC';
}
a, span, b, strong, i {
    display: inline-block;

}

@font-face {
    font-family: GOTHIC ;

    src: url('../assets/font/GOTHIC.TTF');

    src: url('../assets/font/GOTHICB.TTF');
    src: url('../assets/font/GOTHICBI.TTF');
    src: url('../assets/font/GOTHICI.TTF');

}

.bg-img {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.container {
    min-width: 1208px;
    padding: 0px;

}

.bg {
    background: #000000;
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 53px;
    opacity: 0.2;
}

header {
    position: relative;
    margin:0px 40px 0px 23px;
}

.logo {
    float: left;
    color: #c2735c;
}

.logo h1 {
    margin: 0px;
    font-weight: normal;
    font-family: GOTHIC;
    color: #c2735c;
    font-size: 1.8em;
    padding-right: 15px;
    height: 53px;
    line-height: 53px;
    float: left;
}

.logo span {
    line-height: 53px;
}

.fr-box {
    float: right;
    height: 53px;
    line-height: 53px;
    width: 566px;
    overflow: hidden;
}

.fr-box ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    width: 598px;
}

.fr-box ul li {
    display: inline;
    margin-right: 30px;
}

.fr-box ul li i {
    vertical-align: middle;
    margin-right: 5px;
}

.fr-box ul li .cir {
    width: 27px;
    height: 27px;
    border-radius: 50%;

    line-height: 20px;
}

.fr-box ul li a {
    color: #c2735c;
    font-size: 1em;
    display: inline;
}
