body, html {
    height: 100%;
    width: 100%;
}
body {
    font-family: aaa;
}
a, span, b, strong, i {
    display: inline-block;

}

@font-face {
    font-family: GOTHIC ;

    src: url('../assets/font/GOTHIC.TTF');

    src: url('../assets/font/GOTHICB.TTF');
    src: url('../assets/font/GOTHICBI.TTF');
    src: url('../assets/font/GOTHICI.TTF');

}

.bg-img {
    position: fixed;
width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.container {
    min-width: 1208px;
    padding: 0px;

}

.bg {
    background: #000000;
    display: inline-block;
    position: fixed;
    width: 100%;
    height: 53px;
    opacity: 0.2;
    left: 0;
    right: 0;
}

header {
    position: relative;
    margin:0px 40px 0px 23px;
}

.logo {
    float: left;
    color: #c2735c;
}

.logo h1 {
    margin: 0px;
    font-weight: normal;
    font-family:aaa;
    color: #c2735c;
    font-size: 1.8em;
    padding-right: 15px;
    height: 53px;
    line-height: 53px;
    float: left;
}

.logo span {
    line-height: 53px;
}

.fr-box {
    float: right;
    height: 53px;
    line-height: 53px;
    width: 566px;
    overflow: hidden;
}

.fr-box ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    width: 598px;
}

.fr-box ul li {
    display: inline;
    margin-right: 30px;
}

.fr-box ul li i {
    vertical-align: middle;
    margin-right: 5px;
}

.fr-box ul li .cir {
    width: 27px;
    height: 27px;
    border-radius: 50%;

    line-height: 20px;
}

.fr-box ul li a {
    color: #c2735c;
    font-size: 1em;
    display: inline;
}
/*进度条*/
.step{ position: absolute; bottom: 0px;}
.step-container{
    font-family: arial;
    display: inline-block;
    position: relative;
    color: #1e5374;

}
.step-sm{

    width:700px;
    height: 30px;
    font-size: 14px;
    line-height: 1;
}
.step-container ul {
    list-style: none;
}
.step-container ul, .step-container li, .step-container p {
    margin: 0;
    padding: 0;
}
.step-sm .step-container-steps {
    position: absolute;
    top: 2px;
    cursor: pointer;
    z-index: 10;
}
.step-sm li {
    float: left;
    width: 140px;
    height: 50px;
  position: relative;
    text-align: center;
}
.step-sm li i{    border:1px solid #3a98d5;  width: 12px;
    height: 12px;
    border-radius: 50%;
position: absolute;
    top:27px;
    left: 62px;

}
.step-sm .steps-active {
background: #3a98d5;


}
.step-sm .steps-done {
  background: #000000;

}
.step-progress{

    width: 550px;
    height: 3px;
    position: absolute;
    top: 34px;
    left: 73px;
    float: left;
    margin-right: 10px;
    background: #3a98d5;
    overflow: hidden;

}
.step-progress .step-progress-bar{

    width: 270px;
    height: 6px;
    background:#3a98d5;
    display: inline-block;
    float: left;
}
.step-sm .step-progress-highlight {
    height: 6px;
    display: block;
}
.step-green .step-progress-highlight {
    background: #3a98d5;
}
/*sport样式*/
