body, html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    font-family: aaa;

}

a, span, b, strong, i {
    display: inline-block;

}

@font-face {
    font-family: GOTHIC ;

    src: url('../assets/font/GOTHIC.TTF');

    src: url('../assets/font/GOTHICB.TTF');
    src: url('../assets/font/GOTHICBI.TTF');
    src: url('../assets/font/GOTHICI.TTF');

}

.bg-img {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.container {
    min-width: 1208px;
    padding: 0px;

}

#bg-box, .bg {
    position: fixed;
    width: 100%;
    height: 53px;

    left: 0;
    right: 0;
}

.bg {
    background: #000000;
    opacity: 0.2;
}

header {
    position: relative;
    margin: 0px 0px 0px 23px;
    width: 100%;
    overflow: hidden;
}

#bg-box img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0.1;

    transition: opacity 0.5s linear 5.5s;
    /* Firefox 4 */
    -moz-transition: opacity 0.5s linear 0.5s;
    /* Safari and Chrome */
    -webkit-transition: opacity 0.5s linear 0.5s;
    /* Opera */
    -o-transition: opacity 0.5s linear 0.5s;
}

.logo {
    float: left;
    color: #c2735c;
}

.logo h1 {
    margin: 0px;
    font-weight: normal;
    font-family: aaa;
    color: #c2735c;
    font-size: 1.8em;
    padding-right: 15px;
    height: 53px;
    line-height: 53px;
    float: left;
    position: relative;
}

.logo h1 .king {
    position: absolute;
    top: 10%;
    left: 23%;
}

.logo span {
    line-height: 53px;
}

.fr-box {
    float: right;
    height: 53px;
    line-height: 53px;
    width: 568px;
    margin-right: 40px;
    overflow: hidden;
}

.fr-box ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    width: 598px;
}

.fr-box ul li {
    display: inline;
    margin-right: 30px;
}

.fr-box ul li i {
    vertical-align: middle;
    margin-right: 5px;
}

.fr-box ul li .cir {
    width: 27px;
    height: 27px;
    border-radius: 50%;

    line-height: 20px;
}

.fr-box ul li a {
    color: #c2735c;
    font-size: 1em;
    display: inline;
}

/*底部圆*/
.cir-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #000000;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    height: 40px;

}

/*进度条*/
.step {
    position: relative;
    text-align: center;
    bottom: -83%;

}

.step-container {
    font-family: arial;
    display: inline-block;
    position: relative;

}

.step-sm {

    width: 700px;
    height: 30px;
    font-size: 14px;
    line-height: 1;
}

.step-container ul {
    list-style: none;

}

.step-container ul, .step-container li, .step-container p {
    margin: 0;
    padding: 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.step-orange li, .step-orange p {
    color: #c27252;
}

.step-purple li, .step-purple p {

    color: #a453ad;

}

.step-lightBlue li, .step-lightBlue p {

    color: #3a98d5;

}

.step-Blue li, .step-Blue p {

    color: #5c53ad;
}

.step-sm .step-container-steps {
    position: absolute;
    top: 2px;
    cursor: pointer;
    z-index: 10;
}

.step-sm li {
    float: left;
    width: 140px;
    height: 50px;
    position: relative;
    text-align: center;
}

.step-sm li i {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    top: 27px;
    left: 62px;

}

.step-orange li i {

    border: 1px solid #c27252;
}

.step-purple li i {

    border: 1px solid #a453ad;

}

.step-lightBlue li i {

    border: 1px solid #3a98d5;
}

.step-Blue li i {

    border: 1px solid #5c53ad;
}

.step-sm .steps-done {
    background: #000000;

}

.step-orange .steps-active {
    background: #c27252;

}

.step-purple .steps-active {
    background: #a453ad;

}

.step-lightBlue .steps-active {

    background: #3a98d5;
}

.step-Blue .steps-active {

    background: #5c53ad;
}

.step-sm .step-progress {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    width: 550px;
    height: 3px;
    position: absolute;
    top: 34px;
    left: 73px;
    float: left;
    margin-right: 10px;
    z-index: 2;
    overflow: hidden;

}

.step-orange .step-progress {
    background: #c27252;

}

.step-purple .step-progress {
    background: #a453ad;
}

.step-lightBlue .step-progress {

    background: #3a98d5;
}

.step-Blue .step-progress {

    background: #5c53ad;
}

.step-sm .step-progress .step-progress-bar {

    width: 270px;
    height: 6px;

    display: inline-block;
    float: left;
}

.step-orange .step-progress .step-progress-bar {
    background: #c27252;
}

.step-purple .step-progress .step-progress-bar {

    background: #a453ad;

}

.step-lightBlue .step-progress .step-progress-bar {

    background: #3a98d5;
}

.step-Blue .step-progress .step-progress-bar {

    background: #5c53ad;
}

.step-sm .step-progress-highlight {
    height: 6px;
    display: block;
}

.step-orange .step-progress-highlight {
    background: #c27252;
}

.step-purple .step-progress-highlight {

    background: #a453ad;
}

.step-lightBlue .step-progress-highlight {

    background: #3a98d5;
}

.step-Blue .step-progress-highlight {

    background: #5c53ad;
}

/*标题*/
.title {
    position: relative;
    text-align: center;

}

.title h2 {
    font-size: 53px;
}

.title .king2 {
    position: absolute;
    left: 50%;
    top: -12%;
}

.title p {
    font-size: 14px;
    line-height: 14px;
    color: #ffffff;
}

.title a {
    margin-top: 20px;
    opacity: 0.7;
    font-size: 28px;
    color: #ffffff;
    width: 200px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #ffffff;
    border-radius: 27px;
    text-decoration: none;
    background-color: none;
}
.title a:hover{ opacity: 1; transition: opacity 0.3s;}
/*圆*/
.wheel {
    position: relative;
    display: block;
    border-radius: 50%;
    background: #000000;
    margin: 0 auto;
    top: 40%;
    left: 50%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.wheel .items .section-block {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 123%;
}

.wheel .items {
    position: absolute;
    left: 50%;
    top: 50%;
    -moz-transform-origin: center bottom;
    -webkit-transform-origin: center bottom;
    -o-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    transform-origin: center bottom;
    list-style: none;

}

.wheel .items .section-block .spot-view {
    display: inline-block;
    position: relative;
    min-width: 1208px;
    height: 40px;
}

.wheel .items .section-block .spot-view img {
    position: absolute;
}

.wheel .bright_bg {
    position: relative;
    bottom: 20%;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.wheel .list1 .list01, .wheel .list1 .list02 {
    z-index: 9;
}

.wheel .list1 .list01 {
    left: 0%;
    bottom: -210%;

}

.wheel .list1 .list02 {
    right: 2%;
    bottom: -181%;

}

.wheel .list1 .bright_bg .rotate1 {
    left: 38%;
    bottom: 199%;
}

.wheel .list1 .bright_bg .rotate2 {
    left: 32%;
    bottom: 169%;
}

.wheel .list1 .bright_bg .rotate3 {
    bottom: 165%;
    right: 37%;
}

.wheel .list1 .bright_bg .rotate4 {
    right: 17%;
    bottom: 175%;
}

.wheel .list2 .list01 {
    bottom: -75%;
    left: 24%;
}

.wheel .list2 .list02 {
    bottom: 15%;
    left: 39%;
    z-index: 9;
}

.wheel .list2 .list03 {
    right: 24%;
    bottom: -174%;
}

.wheel .list2 .bright_bg .bg_1 {
    bottom: 218%;
    left: 47%;
}

.wheel .list2 .bright_bg .rotate1 {
    transform: rotate(36deg);
    -webkit-transform: rotate(36deg);
    -o-transform: rotate(36deg);
    -ms-transform: rotate(36deg);
    -ms-transform: rotate(36deg);
    left: 58%;
    bottom: 210%;
}

.wheel .list2 .bright_bg .rotate2 {
    transform: rotate(58deg);
    -webkit-transform: rotate(58deg);
    -o-transform: rotate(58deg);
    -ms-transform: rotate(58deg);
    -ms-transform: rotate(58deg);
    left: 60%;
    bottom: 40%;
}

.wheel .list2 .bright_bg .rotate3 {
    bottom: 161%;
    left: 38%;
    transform: rotate(-41deg);
    -webkit-transform: rotate(-41deg);
    -o-transform: rotate(-41deg);
    -ms-transform: rotate(-41deg);
    -ms-transform: rotate(-41deg);
}

.wheel .list2 .bright_bg .rotate4 {
    bottom: 27%;
    left: 35%;
    transform: rotate(-65deg);
    -webkit-transform: rotate(-65deg);
    -o-transform: rotate(-65deg);
    -ms-transform: rotate(-65deg);
    -ms-transform: rotate(-65deg);
}

.wheel .list1 .bright_bg .bird1 {
    right: 26%;
    bottom: 351%;
}

.wheel .list1 .bright_bg .bird2 {
    right: 40%;
    bottom: 450%;
}

.wheel .list2 .bright_bg .bird1 {
    right: 43%;
    bottom: 763%;
}

.wheel .list2 .bright_bg .bird2 {
    right: 30%;
    bottom: 500%;
}

.wheel .list3 .list01 {
    left: 12%;
    bottom: -110%;
    z-index: 1;
}

.wheel .list3 .draw1 {
    bottom: -16%;
    left: 27%;
    z-index: 1;
}

.wheel .list3 .draw2 {
    bottom: 0%;
    left: 42%;
}

.wheel .list3 .draw3 {
    right: 28%;
    bottom: -13%;
}

.wheel .list3 .moneyStart .startMin1, .wheel .list3 .moneyStart .startMin2 {
    bottom: 115%;
}

.wheel .list3 .moneyStart .startMin1 {
    right: 61%;
}

.wheel .list3 .moneyStart .startMax {
    bottom: 171%;
    left: 56%;
}

.wheel .list3 .moneyStart .startMin2 {
    right: 26%;
}

.wheel .list3 .bird_bg {
    background: url("../assets/images/pic2_bird.png") no-repeat;
    width: 48px;
    height: 15px;
    position: absolute;
}

.wheel .list3 .b1 {
    left: 41%;
    bottom: 531%;
}

.wheel .list3 .b2 {
    height: 34px;
    background-position: 0 -23px;
    right: 40%;
    bottom: 682%;
}

.wheel .list3 .b3, .wheel .list3 .b4 {
    background-position: 0 -69px;
}

.wheel .list3 .b3 {
    right: 23%;
    bottom: 478%;
}

.wheel .list3 .b4 {
    right: 14%;
    bottom: 145%;
}

.wheel .list4 .list01 {
    bottom: 30%;
    left: 25%;
}

.wheel .list4 .list02 {
    bottom: -7%;
    left: 37%;
}

.wheel .list4 .list03 {
    left: 18%;
    bottom: -36%;
}

.wheel .list5 .list01 {
    left: 14%;
    bottom: -171%;
}