body, html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    font-family: aaa;

}

a, span, b, strong, i {
    display: inline-block;

}

@font-face {
    font-family: GOTHIC ;

    src: url('../assets/font/GOTHIC.TTF');

    src: url('../assets/font/GOTHICB.TTF');
    src: url('../assets/font/GOTHICBI.TTF');
    src: url('../assets/font/GOTHICI.TTF');

}

.bg-img {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.container {
    min-width: 1208px;
    padding: 0px;

}

#bg-box, .bg {
    position: fixed;
    width: 100%;
    height: 53px;

    left: 0;
    right: 0;
}

.bg {
    background: #000000;
    opacity: 0.2;
}

header {
    position: relative;
    margin: 0px 0px 0px 23px;
    width: 100%;
    overflow: hidden;
}

#bg-box img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0.1;

    transition: opacity 1s linear 1s;
    /* Firefox 4 */
    -moz-transition: opacity 1s linear 1s;
    /* Safari and Chrome */
    -webkit-transition: opacity 1s linear 1s;
    /* Opera */
    -o-transition: opacity 1s linear 1s;
}

.logo {
    float: left;
    color: #c2735c;
}

.logo h1 {
    margin: 0px;
    font-weight: normal;
    font-family: aaa;
    color: #c2735c;
    font-size: 1.8em;
    padding-right: 15px;
    height: 53px;
    line-height: 53px;
    float: left;
}

.logo span {
    line-height: 53px;
}

.fr-box {
    float: right;
    height: 53px;
    line-height: 53px;
    width: 568px;
    margin-right: 40px;
    overflow: hidden;
}

.fr-box ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    width: 598px;
}

.fr-box ul li {
    display: inline;
    margin-right: 30px;
}

.fr-box ul li i {
    vertical-align: middle;
    margin-right: 5px;
}

.fr-box ul li .cir {
    width: 27px;
    height: 27px;
    border-radius: 50%;

    line-height: 20px;
}

.fr-box ul li a {
    color: #c2735c;
    font-size: 1em;
    display: inline;
}

/*底部圆*/
.cir-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #000000;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    height: 40px;

}

/*进度条*/
.step {
    position: absolute;

    left: 50%;
    margin-left: -20%;
    bottom: 10%;
    z-index: 9999999;

}

.step-container {
    font-family: arial;
    display: inline-block;
    position: relative;

}

.step-sm {

    width: 700px;
    height: 30px;
    font-size: 14px;
    line-height: 1;
}

.step-container ul {
    list-style: none;

}

.step-container ul, .step-container li, .step-container p {
    margin: 0;
    padding: 0;

}

.step-orange li, .step-orange p {
    color: #c27252;
}

.step-purple li, .step-purple p {

    color: #a453ad;

}

.step-lightBlue li, .step-lightBlue p {

    color: #3a98d5;

}

.step-Blue li, .step-Blue p {

    color: #5c53ad;
}

.step-sm .step-container-steps {
    position: absolute;
    top: 2px;
    cursor: pointer;
    z-index: 10;
}

.step-sm li {
    float: left;
    width: 140px;
    height: 50px;
    position: relative;
    text-align: center;
}

.step-sm li i {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    top: 27px;
    left: 62px;

}

.step-orange li i {

    border: 1px solid #c27252;
}

.step-purple li i {

    border: 1px solid #a453ad;

}

.step-lightBlue li i {

    border: 1px solid #3a98d5;
}

.step-Blue li i {

    border: 1px solid #5c53ad;
}

.step-sm .steps-done {
    background: #000000;

}

.step-orange .steps-active {
    background: #c27252;

}

.step-purple .steps-active {
    background: #a453ad;

}

.step-lightBlue .steps-active {

    background: #3a98d5;
}

.step-Blue .steps-active {

    background: #5c53ad;
}

.step-sm .step-progress {

    width: 550px;
    height: 3px;
    position: absolute;
    top: 34px;
    left: 73px;
    float: left;
    margin-right: 10px;

    overflow: hidden;

}

.step-orange .step-progress {
    background: #c27252;

}

.step-purple .step-progress {
    background: #a453ad;
}

.step-lightBlue .step-progress {

    background: #3a98d5;
}

.step-Blue .step-progress {

    background: #5c53ad;
}

.step-sm .step-progress .step-progress-bar {

    width: 270px;
    height: 6px;

    display: inline-block;
    float: left;
}

.step-orange .step-progress .step-progress-bar {
    background: #c27252;
}

.step-purple .step-progress .step-progress-bar {

    background: #a453ad;

}

.step-lightBlue .step-progress .step-progress-bar {

    background: #3a98d5;
}

.step-Blue .step-progress .step-progress-bar {

    background: #5c53ad;
}

.step-sm .step-progress-highlight {
    height: 6px;
    display: block;
}

.step-orange .step-progress-highlight {
    background: #c27252;
}

.step-purple .step-progress-highlight {

    background: #a453ad;
}

.step-lightBlue .step-progress-highlight {

    background: #3a98d5;
}

.step-Blue .step-progress-highlight {

    background: #5c53ad;
}

/*圆*/
.wheel {

    position: relative;
    display: block;


    border-radius: 50%;
    background: #000000;
    margin: 0 auto;

    top:65%;
    left:50%;



}

.wheel div {
    text-align: center;
    font-size: 200px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    height: 300px;
    -moz-transform-origin: center bottom;
    -webkit-transform-origin: center bottom;
    -o-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    transform-origin: center bottom;
    list-style: none;

}
