body, html {
    height: 100%;
    width: 100%;
}

a, span, b, strong, i {
    display: inline-block;
}

@font-face {
    font-family: GOTHIC ;
    font-family: GOTHICB;
    font-family: GOTHICBI;
    font-family: GOTHICI;
    src: url('../assets/font/GOTHIC.TTF');
    src: url('../assets/font/GOTHICB.TTF');
    src: url('../assets/font/GOTHICBI.TTF');
    src: url('../assets/font/GOTHICI.TTF');

}

.bg-img {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.container {
    min-width: 1208px;

}

